<div class="slider-row">
    <ui-slider (changed)="onRedChanged($event)" slider-min="0" slider-max="255" [slider-value]="red"></ui-slider>
    <label>Hue</label>
</div>
<div class="slider-row">
    <ui-slider (changed)="onGreenChanged($event)" slider-min="0" slider-max="255" [slider-value]="green"></ui-slider>
    <label>Hue</label>
</div>
<div class="slider-row">
    <ui-slider (changed)="onBlueChanged($event)" slider-min="0" slider-max="255" [slider-value]="blue"></ui-slider>
    <label>Hue</label>
</div>
