<div class="notification"
     [@enterLeave]="item.state"
     (click)="removeOnClick()"
     [class]="theClass"

     [ngClass]="{
                'alert': item.type === 'alert',
                'error': item.type === 'error',
                'success': item.type === 'success',
                'info': item.type === 'info',
                'bare': item.type === 'bare',
                'rtl-mode': rtl
            }"

     (mouseenter)="onEnter()"
     (mouseleave)="onLeave()">

    <i class="fa fa-lg" [class]="item.icon" aria-hidden="true"></i>
    <div *ngIf="!item.html">
        <div class="sn-title">{{item.title}}</div>
        <div class="sn-content">{{item.content | max:maxLength}}</div>

        <div *ngIf="item.type !== 'bare'" [innerHTML]="safeSvg"></div>
    </div>
    <div *ngIf="item.html" [innerHTML]="item.html"></div>

    <div class="sn-progress-loader" *ngIf="showProgressBar">
        <span [ngStyle]="{'width': progressWidth + '%'}"></span>
    </div>
</div>