@import '../../../assets/styles/importer.scss';
.bh-dashboard-item {
  border: 1px solid #D3D5D4;

  h3 {
    padding: 0.5em;
    font-size: 1.0em;
    margin: 0px;
    background-color: $primary-color;
    color: #fff;
  }

  .controls {
    padding: 0.5em;
  }
}
