@import '../../../assets/styles/importer.scss';

.bh-dashboard-item {
  display: block;

  .content {
    border: 1px solid #D3D5D4;
    display: block !important;
    padding: 0;

    h3 {
      padding: 0.5em;
      font-size: 1.0em;
      margin: 0px;
      background-color: $primary-color;
      color: #fff;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    .controls {
      padding: 0.5em;
    }
  }
}
